﻿body {
    width: 200%;
    padding-top: 60px;
    background-image: url("http://blog.capterra.com/wp-content/uploads/2013/09/why-auction-software-must-have.jpg");
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: cover;
}
.image {
    padding-left: 120px;
}
.maincontent {
    height: 300px;
    width: 700px;
   /* border: 5px solid;*/
    padding-top : 60px;
    padding-bottom : 60px;
    /*padding-right : 100px;*/
}
.username {
   padding-left : 190px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-decoration: solid;
 
}
.loginbutton {
    padding-left: 190px;   
}
.signup {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-decoration: solid;
}
.headlogin{
    padding-left : 190px;
}
.headsignup {
    padding-left: 110px;
}
.errormsg
{
    padding-left : 190px;
    padding-top : 20px;
    color:red;
}
