﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Masterpage.Master.cs" Inherits="Live_Auction.Site1" %>

<!DOCTYPE html>
<html lang="en">
  <head>
      
    <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>  
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>LIVE AUCTION</title>
    <link rel="stylesheet" href="assets1/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets1/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="assets1/css/style.css">
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
   <%-- <link rel="stylesheet" href="assets/css/main.css" />--%>
       
		<%--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />--%>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <form runat="server">
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
        
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">

        <div class="navbar-menu-wrapper d-flex align-items-stretch">
   
         

              <a class="nav-link" href="home.aspx">
                <span class="menu-title">Home</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>

              <a class="nav-link" href="sell.aspx">
                <span class="menu-title">Sell</span>
                <i class="fa fa-shopping-cart menu-icon" aria-hidden="true"></i>
              </a>
        

              <a class="nav-link" href="product1.aspx">
                <span class="menu-title">Your Product</span>
               <i class="fa fa-product-hunt menu-icon" aria-hidden="true"></i>
              </a>


              <a class="nav-link" href="About Us.aspx">
                <span class="menu-title">About Us</span>
             <i class="fa fa-info-circle menu-icon" aria-hidden="true"></i>
              </a>

             
          <ul class="navbar-nav navbar-nav-right" >
            <li class="nav-item nav-profile dropdown" >
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown"  aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="assets1/images/user.png"  alt="image">
                  <span class="availability-status online"></span>
                </div>
                <div class="nav-profile-text">
                    <asp:Button runat="server" href="login.aspx" ID="username" Text="Login"></asp:Button>
                    <%--<asp:Label ID="lblusername" runat="server" Text="Login"  CssClass="mb-1 text-black"></asp:Label>--%>
                    
                </div>
              </a>
                
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
              
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="Login.aspx">
                    
                  <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
              </div>
            </li>
            
          </ul>
      
            
        </div>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper" >
   
    
                  <!-- partial -->
        
          <div class="content-wrapper">
            
            <%--<div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-home"></i>
                </span> Home
              </h3>
 
            </div>--%>


              <div class="contentbody">
              <asp:ContentPlaceHolder ID="contentbody" runat="server">

              </asp:ContentPlaceHolder>
             </div>
            </div>
      
          
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
      
    <script src="assets1/vendors/js/vendor.bundle.base.js"></script>
    <script src="assets1/vendors/chart.js/Chart.min.js"></script>
    <script src="assets1/js/off-canvas.js"></script>
    <script src="assets1/js/hoverable-collapse.js"></script>
    <script src="assets1/js/misc.js"></script>
    <script src="assets1/js/dashboard.js"></script>
    <script src="assets1/js/todolist.js"></script>
    
      </form>
  </body>
</html>   